.card {
  background-color: rgb(85, 161, 85);
  height: 200px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: auto;
}
